@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron w3-container w3-center w3-animate-bottom">
    <h1>Biuro Podróży Veracruz</h1>
    <p class="lead">Masz ochotę na gorące wakacje? Zapraszamy do zapoznania z naszą ofertą !</p>
</div>


<div class="w3-container w3-center w3-animate-bottom">
    <img src="../Images/plaza.jpg" alt="Tu podaj tekst alternatywny" width="600px" height="600px">
    <h1>Podróże bawią!</h1>
    <p>Zapraszamy Do Przygody z nami o każdej porze roku.</p>
</div>